<!DOCTYPE html>
<html ng-app="login">
<head>
    <meta charset="UTF-8">
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

    <script type="module" src="/components/calendar/build/sm-calendar.esm.js"></script>
    <script nomodule src="/components/calendar/build/sm-calendar.js"></script>
</head>
<body>
<sm-calendar id="calendar"></sm-calendar>
<script>
    var events = [];
    var calendar = document.getElementById('calendar');
    calendar.addEventListener('cellClick', function(payload) {
        events.push({
            title: 'New Event',
            description: 'sample description',
            start: payload.detail.from,
            end: payload.detail.to
        });
        calendar.events = [...events];
    });
</script>
</body>
</html>